# Folders
env/
__pycache__/
.mypy_cache/
.pytest_cache/

# Poetry (package manager)
poetry.lock

# PyPI
build/
dist/
*.egg-info/

# Documentation.
docs/build/
docs/source/_build/

# Learning how to use.
tests/
